.home{
    width: 100%;
    margin: auto;
    margin-top: 30px;


 
}
.users-table{
    margin:10px auto;
    width:100%;
    width: 80%;
    text-align: left;
    border-collapse:collapse;
}


.users-table tr{
    height: 10%;
    border-bottom: 1px solid #13253a ;

}
.users-table td{
    height: 40px;
    padding: 2px 5px 4px 0;

}


.selected{
    background-color: rgba(100,100,100,.15);
}
.flex-jcsa{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60px;

}
.flex-jcsa span{
    cursor: pointer;
    margin-top: 10px;
}
.edit-user{
    color: #6666b8;
}
.edit-user:hover{
    color: #0000ff;
    transform: scale(1.2);
}
.delete-user{
    color:#d33a3a
}
.delete-user:hover{
    color: #ff0000;
    transform: scale(1.2);
}
   

.delete-selected-btn{
    margin-left: 10px;
    background-color: transparent;
    color:#13253a;
    font-weight: bold;
    border: 2px solid #13253a;
    padding: 10px 5px;
    border-radius: 20px;
    transition: all .4s ease-in-out;
}
.delete-selected-btn:hover{
    color: white;
    background-color: #13253a;
    cursor: pointer;
    
}

.m-auto{
    margin: auto;
    width: fit-content;
}