.home{
    /* height: 80vh; */
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    margin: auto;
    margin-top: 30px;
    /* border: 2px solid green; */

 
}
.users-table{
    margin:10px auto;
    /* padding: auto; */
    width:100%;
    /* height: 70vh; */
    /* height: 70vh; */
    width: 80%;
    text-align: left;
    border-collapse:collapse;
 
    /* table-layout:fixed */
}



/* .user-details{ */
    /* border: 1px solid orange; */
    /* width: 200px; */
    /* text-align: left; */
/* } */

.users-table tr{
    height: 10%;
    /* background-color: #13253a; */
    border-bottom: 1px solid #13253a ;

}
.users-table td{
    height: 40px;
    padding: 2px 5px 4px 0;

}


.selected{
    background-color: rgba(100,100,100,.15);
}
.flex-jcsa{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60px;

}
.flex-jcsa span{
    cursor: pointer;
    margin-top: 10px;
}
.edit-user{
    color: #6666b8;
}
.edit-user:hover{
    color: #0000ff;
    transform: scale(1.2);
}
.delete-user{
    color:#d33a3a
}
.delete-user:hover{
    color: #ff0000;
    transform: scale(1.2);
}
   

.delete-selected-btn{
    margin-left: 10px;
    background-color: transparent;
    color:#13253a;
    font-weight: bold;
    border: 2px solid #13253a;
    padding: 7px 5px;
    transition: all .4s ease-in-out;
}
.delete-selected-btn:hover{
    color: white;
    background-color: #13253a;
    cursor: pointer;
    
}

.m-auto{
    margin: auto;
    width: fit-content;
}