.pagination{
    margin: auto;
    width: fit-content;
    color: #13253a;
}

.pagination button{
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}
.pagination button:hover{
    border-color:#13253a;
    background-color: #13253a;
    color: #e5ecf9;
}

.pagination button.active{
     font-weight:900;
     border:none;
     background-color:#13253a;
     color: #e5ecf9;
}
.pagination button:disabled{
    cursor: not-allowed;
}